<div class='well span8'>
  <em>"<%= comment.body %>"</em>
  <p>
    <span class='quiet'>by</span>
    <%= link_to comment.creator.username, '' %>
    <small>at <%= format_date(comment.created_at) %></small>
  </p>
</div>
